<!DOCTYPE html>
<html>
  <head>
    <title>Cask</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
  </head>

  <body>
  <div class="header">
    <%= image_tag "place_holder_header_image.png", alt: "Cask header image", class: "header-img" %>
  <div class="container">
    
  </div>
  </div>
    <main class="container">
    <%= yield %>
    </main>
  </body>
</html>
